@import url('../../cache/libraries/fontawesome/css/all.min.css');

:root,
:root.purple {
  --bg-color: rebeccapurple;
  --accent-color: pink;
}

:root.green {
    --bg-color: #138808;
    --accent-color: #32de84;
}

:root.blue {
    --bg-color: #00308F;
    --accent-color: #7FFFD4;
}

:root.gray {
    --bg-color: #7E7E7E;
    --accent-color: darkgray;
}

#loader{
    position: absolute;
    bottom: 50%;
    z-index: 99;
    text-align: center;
}

#loader i{
    font-size: 50px;
    color: white;
}

#loader-bg{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 98;
    backdrop-filter: blur(100px);
}

#load{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: system-ui;
    margin: 0;
    background-color: var(--bg-color);
}

