.playlists div{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    width: fit-content;
    cursor: pointer;

    min-width: 100px;
    min-height: 40px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.playlists{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wrapper{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
