@import url('../../cache/libraries/fontawesome/css/all.min.css');

body, main{
    position: relative;
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-content{
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100% + 50px);
    padding: 20px;
}

.player-content #song-timestamp{
    display: flex;
    align-items: center;
    gap: 5px;
}

.player-content #song-action, .player-content #song-time{
    display: flex;
    align-items: center;
    gap: 20px
}

.player-content #song-data{
    text-align: center;
}
.fa-pause{
    background: var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100% + 50px);
    padding: 20px;
}

#song-data img{
    border-radius: 8px;
}

#song-action-bar{
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    bottom: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 20px;
    padding: 20px;
    justify-content: center;
    gap: 10%;
    
    flex-direction: column;
}

#menu-bar{
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    bottom: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 20px;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    z-index: 999
}

#menu-bar i{
    cursor: pointer;
    color: white;
}

#song-action-bar *, .player-content #song-action *{
    cursor: pointer;
}

.playlist ul{
    list-style: none;
    display: contents;
}

.player-content #pause img{
    background: var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.playlist ul li{
    padding: 10px;
    cursor: pointer;
}

.playlist ul li:hover{
    border-radius: .5rem;
    background: var(--bg-color) !important;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    accent-color: var(--accent-color);
}

input[type="range"]::-webkit-slider-runnable-track{
    background: var(--bg-color);
    border-radius: 8px;
}

input[type="range"]::-moz-range-track {
    background: var(--bg-color);
    border-radius: 8px;
}

.playlist .selected{
    background-color: var(--accent-color);
    border-radius: 8px;
}


.themes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    gap: 20px;
}

.themes div{
    width: 50px;
    height: 50px;
    border: 1px transparent solid
}

.themes div:hover{
    border: 1px white solid
}

.themes div.selected{
    border: 1px white solid
}

.themes div.purple{
    background: purple
}

.themes div.green{
    background: green
}

.themes div.blue{
    background: steelblue
}

.themes div.gray{
    background: #5b5b5d
}

.status{
    position: absolute;
    bottom: 20px;
    left: 80px;
}